* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 10px;
}

section {
  background-color: rgb(200, 224, 233);
}

div.expensiveProduct,
div.cheapestProduct,
#productSection div {
  width: 25%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgb(153, 65, 225) 2px 2px;
  text-align: center;
  background-color: rgb(210, 198, 30);
}

button {
  padding: 10px;
  margin: 10px;

  border: red solid 1px;
  border-radius: 5px;
  color: rgb(246, 248, 250);
  background: linear-gradient(to bottom right, #00ccffb2, #ad1bda);
  justify-content: center;
}

form {
  width: 25%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgb(153, 65, 225) 2px 2px;
  text-align: center;
  background-color: rgb(210, 198, 30);
}

form textarea {
  max-width: 90%;
}

form input,
textarea {
  margin-top: 5px;
  width: 90%;
  padding: 2px;
}

form select,
form button {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
}