* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 10px;
}

section {
  background-color: rgb(200, 224, 233);
}

section div {
  position: relative;

}

section div,
div.expensiveProduct,
div.cheapestProduct {
  width: 25%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgb(153, 65, 225) 2px 2px;
  text-align: center;
  background-color: rgb(210, 198, 30);
}

div.expensiveProduct,
div.cheapestProduct {
  position: absolute;
  top: 95px;
  right: 0;
}


button {
  padding: 10px;
  margin: 10px;

  border: red solid 1px;
  border-radius: 5px;
  color: rgb(246, 248, 250);
  background: linear-gradient(to bottom right, #00ccffb2, #ad1bda);
  justify-content: center;
}